<!-- Cabeçalho principal -->
<%- include('../partials/header') %>

<!-- Conteudo do index -->
<main class="d-flex flex-column flex-fill text-center justify-content-center">
  <div
    class="w-50 mx-auto align-content-center bg-success"
    style="height: 300px"
  >
    <!-- Se a página que Chamou for a de cadastro < mostra que o cadastro foi realizado, mostrando o nome do usuário que acabou de ser cadastrado -->
    <% if (tipo == "cadastro") { %>
    <h1 class="text-white">
      <!-- Pega o nome de quem foi cadastrado, vindo do objetivo usuarioNovo -->
      Cadastro de <%- usuarioNovo.usuario %> Realizado
    </h1>

    <!-- Se a pagina que chamou for a de edição, mostra que o usuário foi editado -->
    <% } else if (tipo == "edicao") { %>
    <h1 class="text-white">
      <!-- Pega o nome de quem foi atualizado, vindo do objetivo atualizado -->
      Edição de <%- atualizado.usuario %> confirmado
    </h1>

    <!-- Se a pagina que chamou for a de deletar usuario, mostra que o usuário foi excluido -->
    <% } else { %>
    <h1
     class="text-white">
      Usuário <%- deletado.usuario %> excluido 
    </h1>
    <% } %>

    <!-- Criando botões para outras páginas -->
     <a href="/usuarios">
        <button class="btn btn-lg btn secondary mx-2">
          Voltar para lista de usuários
        </button>

     </a>

     <a href="/usuarios/cadastrar">
        <button class="btn btn-lg btn-primary mx-2">
    Voltar para página de cadastro
        </button>

     </a>
  </div>
</main>

<!-- rodape de todas as pagimas -->
<%- include('../partials/footer') %>
